/* --------------------- */
/* -- HomeShelvesPane -- */
/* --------------------- */
#HomeShelvesPane {
  background-color: #676767;
  margin: 0px auto;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  position: relative;
  /*clip: rect(0px,1920px,1080px,0px);*/
  /**/border: 2px #000 solid;
}

  #keyPressed {
    text-align: left;
    font-size: large;
    z-index: 1001;
    padding: 5px 20px;
    width: 400px;
    position: absolute;
    left: 30px;
    top: 30px; /*1080/2 */
    color: #111;
    background-color: rgba(255, 255, 255, .9);
   /* border: 1px #f00 solid;*/
  /*  visibility: hidden;*/
  }

  .hLineVisible {
    width: 1920px;
    z-index: 1001;
    position: fixed;
    /*top: 540px; /*1080/2 */
    border: 1px #900 solid;
    visibility: visible;
  }

  .hLineHidden {
    visibility: hidden;
  }

  .globalNav {
    width: 1920px;
    height: 100px;
    position: absolute;
    /*top: 0px;*/
    left: 0px;
    z-index: 800;
    background-color: rgba(0, 0, 0, .1);
    /**/ border: 1px #000 dotted;
  }

  .globalNavFocused {
    width: 1920px;
    height: 100px;
    position: absolute;
    /*top: 0px;*/
    left: 0px;
    z-index: 800;
    background-color: rgba(0, 0, 0, 0);
    border: 4px #f00 solid;
  }

  .homeHero {
    width: 1920px;
    height: 606px;
    position: absolute;
    /*top: 165px;*/
    z-index: 900;
    /**/background-color: rgba(0, 0, 0, .1);
    /**/border: 1px #000 dotted;
    /*clip: rect(0px,1920px,1080px,0px);*/
  }

   .homeHeroFocused {
    width: 1920px;
    height: 606px;
    position: absolute;
    top: 165px;
    z-index: 900;
    border: 4px #f00 solid;
    background-color: rgba(0, 0, 0, 0);
  }

  .homeShelves {
    width: 1920px;
    height: 100%;
    position: absolute;
    z-index: 950;
    /*border: 1px #000 solid;*/
  }

  .homeShelvesFocused {
    width: 1920px;
    height: 100%;
    position: absolute;
    z-index: 950;
    /*border: 4px #f00 solid;*/
  }

/* --------------------- */
.HomeShelf {
  width: 1920px;
  position: absolute;
  /*border: 1px red solid;*/
}

.homeShelfTitleContainer {
  font-family: Helvetica;
  font-weight: 100; /*HelveticaLight*/
  font-size: 28px;  /*CHECK- variable?*/
  color: #fff;
  text-align: left;
  position: relative;
  left: 200px;
  transform-box: fill-box;
  transform-origin: 0% 0%;
  /*left: 200px;*/
  /*border: 1px #000 solid;*/
}

.homeShelfTilesContainer {
  height: 230px;  
  position: relative;
  top: 10px;      /*CHECK- variable?*/
  /*border: 4px #fc0 solid;*/
}

.shelfTileContainer {
    /*width: 320px;*/
    position: absolute;
}

/* --------------------- */
.ShelfTile {
    width: 320px;
    height: 220px;  /*???*/
    position: absolute;
    /*transform-origin: 0% 50%;*/
    /*-ms-transform-origin: 0% 50%;*/ /* IE 9 */
    /*-webkit-transform-origin: 0% 50%;*/ /* Safari 3-8 */
    /*border: 1px #fc0 solid;*/
}
  .tileImageContainer {
    transform-box: fill-box;
    transform-origin: 0% 50%;
    /*border: black 1px solid;*/
    width: 320px;
    height: 180px;
  }

  .tileTitleContainer {
    text-align: left;
    font-family: Helvetica;
    font-weight: 600;  /*HelveticaBold*/
    font-size: 24px;
    color: #fff;
    position: relative;
    top: 20px;
    /*visibility: hidden;*/
  }

  span.baseEpisodeID {
    text-align: left;
    font-family: Helvetica;
    font-weight: 300;  /*HelveticaRegular 400?*/
    font-size: 24px;
    margin-left: 10px;
    color: #fff;
  }

  .focusedTileContent {
    width: 550px;
    position: absolute;
    left: 20px;
    top: 150px; 
    /*border: 1px red solid;*/
  }

  .focusedShowTitle {
    text-align: left;
    font-family: Helvetica;
    font-weight: 300;  /*HelveticaBold*/
    font-size: 24px;
    color: #fff;
    position: relative;
  }

  .focusedEpisodeTitle {
    text-align: left;
    font-family: Helvetica;
    font-weight: 600;  /*HelveticaBold*/
    font-size: 24px;
    color: #fff;
    position: relative;
  }

  .focusedEpisodeID {
    text-align: left;
    font-family: Helvetica;
    font-weight: 300;  /*HelveticaBold*/
    font-size: 24px;
    color: #fff;
    position: relative;
  }

/* --------------------- */
